
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
#bot {
  text-align: center;
  background-image: url("https://files.directtalk.com.br/1.0/api/file/public/ddcf30de-de49-4aa3-89ee-5be46c4fbb45/content-inline");
  visibility: visible;
  position: fixed;
  z-index: 999999999;
  cursor: pointer;
  box-sizing: border-box;
  font-family: Arial;
  color: #fff;
  display: block;
  
  padding: 1rem;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 52px;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bot-span {
  position: relative;
  font-size: 0px;
  font-family: Arial;
  color: white;
}

iframe#dtbot-iframe {
  bottom: 10px;
  top: unset !important;
}
